:root {
  --darkGray: hsl(230, 35%, 7%);
  --bgOverlayGradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

html {
  background-color: #080d17;
  color: #ffffff;
  font-family: 'Barlow';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.site-content-max-width {
  max-width: max(56rem, 85vw);
}

@media screen and (min-width: 64em) {
  :root {
    --bgOverlayGradient: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    );
  }
}

@media screen and (min-width: 80em) {
  .site-content-max-width {
    max-width: 69.375rem;
  }
}

/* page transition styles */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .page-enter-active,
  .page-leave-active {
    transition: none;
  }
}
