:root {
  --darkGray: hsl(230, 35%, 7%);
  --bgOverlayGradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

html {
  background-color: #080d17;
  color: #ffffff;
  font-family: 'Barlow';
}
